.demo-card-wide.mdl-card {
    width: 512px;
    margin: 0 auto;

  }
  .demo-card-wide > .mdl-card__title {
    color: #000;


  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .mdl-card__media {
    background-color: #9c27b0;
  }

  body {
    padding: 20px 0 0;
    background: #fafafa;
    position: relative;
  }