{% extends "base_web.html" %}
{% load staticfiles%}
{% block content %}

<div class="container">
    <div id="aprende" class="section scrollspy">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text">Aprende LearningML</i></h3>
                <p class="left-align light">
                    En esta sección encontrarás recursos para aprender rápidamente a utilizar LearningML y comenzar
                    a crear tus primeros modelos de Machine Learning para programar tus aplicaciones con Inteligencia
                    Artificial.
                </p>
                <h4>El manual de usuario de LearningML</h4>
                <p class="left-align light">
                    Con este <a target="_blank" href="{% static 'web/doc/Manual_LearningML.pdf' %}">Manual de usuario de LearningML</a>
                    podrás aprender en poco tiempo como utilizar LearningML para incorporar Inteligencia Artificial a tus proyectos Scratch.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Video tutorial: Cómo usar LearningML para reconocer textos</h4>
                <p class="left-align light">
                    En este videotutorial te contamos brevemente como usar LearningML para construir modelos de reconocimiento
                    de textos e incorporarlos a tus programas Scratch. Selecciona textos que desees clasificar o reconocer,
                    añadelos como ejemplos en el editor de LearningML y la herramienta construirá un modelo que será capaz de
                    reconocer textos distintos, aunque similares, a los empleados como ejemplos.
                </p>
                <p class="left-align light">
                    <iframe width="706" height="397" src="https://www.youtube.com/embed/KXDUkTlvIM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Video tutorial: Cómo usar LearningML para reconocer imágenes</h4>
                <p class="left-align light">
                    En este videotutorial te contamos brevemente como usar LearningML para construir modelos de reconocimiento
                    de imágenes e incorporarlos a tus programas Scratch. Selecciona las imágenes que desees clasificar o reconocer,
                    y añadelas como ejemplos subiendo los ficheros correspondientes o usando la webcam de tu ordenador, LearningML
                    construirá un modelo que será capaz de reconocer imágenes distintas, aunque similares, a las empleadas como ejemplos.
                </p>
                <p class="left-align light">
                    <iframe width="706" height="397" src="https://www.youtube.com/embed/XYMOlB5JFEE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Más videotutoriales</h4>
                <p class="left-align light">
                    Aquí encontrarás más videotutoriales con los que seguir aprendiendo a usar LearningML.
                </p>
                <div class="col s6 center">
                    <iframe width="400" src="https://www.youtube.com/embed/7l8arlzJgc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="center-align light">
                        Cómo guardar proyectos en la nube de LearningML
                    </p>
                </div>
                <div class="col s6 center">
                    <iframe width="400"  src="https://www.youtube.com/embed/nE7bMX4GmMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p class="center-align light">
                        Cómo compartir proyectos de LearningML
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Recursos sobre Inteligencia Artificial de CodeINTEF</h4>
                <p class="left-align light">
                    El Instituto Nacional de Tecnologías Educativas y Formación del Profesorado (INTEF), a través de su
                    proyecto <a href="http://code.intef.es/" target="_blank">CodeINTEF</a>, nos ofrece
                    <a target="_blank", href="http://code.intef.es/recursos/mas-recursos/">recursos didácticos</a>
                    sobre Pensamiento Computacional, programación y robótica, entre los que se encuentran algunos que tratan
                    sobre Inteligencia Artificial y Machine Learning.
                </p>
                   <p class="left-align light">
                        <a target="_blank" href="http://code.intef.es/inteligencia-artificial-en-el-aula-con-scratch-3-0/">Inteligencia artificial en el aula con Scratch 3.0</a>.
                        Si aún no sabes mucho sobre los que es Machine Learning y quieres introducirte en su estudio, este recurso te vendrá como anillo al dedo.
                        En él se hace una completa y didáctica introducción al Machine Learning y la Inteligencia Artificial, se construye un asistente
                        virtual con Scractch en varios videtutoriales y se completa con gran cantidad de información y recursos sobre Inteligencia Artificial.
                        En los videotutoriales se utiliza <a target="_blank" href="https://machinelearningforkids.co.uk/">Machine Learning For Kids</a>, una fantásica herramienta que ha servido de inspiración a LearningML.
                    </p>
                    <p class="left-align light">
                        <a target="_blank" href="http://code.intef.es/podemos-fiarnos-de-la-inteligencia-artificial/">¿Podemos fiarnos de la Inteligencia Artificial?</a>.
                        El Machine Learning no es preciso al 100%. Es más, sus resultados dependen mucho de lo bueno que sea el conjunto de datos que se haya utilizado para
                        enseñar a la máquina. Esto da lugar a un problema conocido como sesgo, explicado en este recurso, y que da lugar a importantes dilemas éticos.
                    </p>
                    <p class="left-align light">
                        <a target="_blank" href="http://code.intef.es/teachablemachinev2/">Aprendemos a enseñar a un ordenador con Teachable Machine V2</a>.
                        En este recurso se presenta una herramienta, denominada, Teachable Machine, con la que puedes iniciarte muy
                        fácilmente en el mundo del Machine Learning.
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}