{% extends "base_web.html" %}
{% block content %}
<div class="container">
    <div id="quees">

        <div class="row">
            <div class="col s12">
                <p class="c3"><span

                        class="c0">T&Eacute;RMINOS DE USO Y POL&Iacute;TICA DE PRIVACIDAD learningml.org.-</span></p>
                <p class="c3"><span class="c1">En cumplimiento con el deber de informaci&oacute;n recogido en art&iacute;culo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y del Comercio Electr&oacute;nico, a continuaci&oacute;n se hace constar:</span>
                </p>
                <p class="c3"><span class="c2">1. DATOS IDENTIFICATIVOS: </span><span>El titular del/los </span><span
                        class="c2">dominio/s web </span><span>es Juan David Rodr&iacute;guez Garc&iacute;a (en adelante </span><span
                        class="c2">learningml.org)</span><span>, con N.I.F.: 75440977B. Correo electr&oacute;nico de contacto: </span><span
                        class="c5 c17">info <i>at</i> learningml <i>dot</i> org.</span></p>
                <p class="c3"><span
                        class="c2">2. USUARIOS: </span><span>El acceso y/o uso de este sitio web de </span><span
                        class="c2">learningml.org </span><span
                        class="c1">atribuye la condici&oacute;n de USUARIO, que acepta, desde dicho acceso y/o uso, los presentes t&eacute;rminos de uso.</span>
                </p>
                <p class="c3"><span class="c2">3. USO DEL SITIO WEB: </span><span class="c5">learningml.org</span><span
                        class="c5">&nbsp;</span><span>proporciona el acceso a recursos did&aacute;cticos, informaciones y datos (en adelante, &laquo;los contenidos&raquo;) relacionados con el Pensamiento Computacional y la Inteligencia Artificial</span><span>, as&iacute; como a una plataforma de programaci&oacute;n de Machine Learning, accesible desde la url </span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=https://learningml.org/editor&amp;sa=D&amp;ust=1582120948945000">https://learningml.org/editor</a></span><span>,</span><span>&nbsp;cuya finalidad es el aprendizaje de t&eacute;cnicas de Inteligencia Artificial. Tanto los contenidos como la plataforma de programaci&oacute;n son propiedad de </span><span
                        class="c2">learningml.org</span><span>. </span><span class="c1">El USUARIO asume la responsabilidad del uso de la web y la plataforma de programaci&oacute;n.</span>
                </p>
                <p class="c3"><span>El USUARIO se compromete a hacer un uso adecuado de los contenidos que </span><span
                        class="c2">learningml.org </span><span
                        class="c1">ofrece a trav&eacute;s de su web y con car&aacute;cter enunciativo pero no limitativo, a no emplearlos para:</span>
                </p>
                <p class="c3"><span>(i) incurrir en actividades il&iacute;citas, ilegales o contrarias a la buena fe y al orden p&uacute;blico; (ii) difundir contenidos o propaganda de car&aacute;cter racista, xen&oacute;fobo, pornogr&aacute;fico-ilegal, de apolog&iacute;a del terrorismo o atentatorio contra los derechos humanos; (iii) provocar da&ntilde;os en los sistemas f&iacute;sicos y l&oacute;gicos de </span><span
                        class="c2">learningml.org</span><span class="c1">, de sus proveedores o de terceras personas, introducir o difundir en la red virus inform&aacute;ticos o cualesquiera otros sistemas f&iacute;sicos o l&oacute;gicos que sean susceptibles de provocar los da&ntilde;os anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electr&oacute;nico de otros usuarios y modificar o manipular sus mensajes.</span>
                </p>
                <p class="c3"><span class="c2">Learningml.org </span><span class="c1">se reserva el derecho de retirar todos aquellos comentarios, proyectos &nbsp;y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xen&oacute;fobos, racistas, pornogr&aacute;ficos, que atenten contra la juventud o la infancia, el orden o la seguridad p&uacute;blica o que, a su juicio, no resultaran adecuados para su publicaci&oacute;n.</span>
                </p>
                <p class="c3"><span>En cualquier caso, </span><span class="c2">learningml.org </span><span class="c1">no ser&aacute; responsable de las opiniones vertidas por los usuarios a trav&eacute;s del blog u otras herramientas de participaci&oacute;n que puedan crearse, conforme a lo previsto en la normativa de aplicaci&oacute;n.</span>
                </p>
                <p class="c3"><span class="c2">4.</span><span>&nbsp;</span><span class="c0">POL&Iacute;TICA DE PRIVACIDAD. PROTECCI&Oacute;N DE DATOS:</span>
                </p>
                <p class="c3"><span
                        class="c2">4.1. Finalidad de los datos recabados y CONSENTIMIENTO al tratamiento.-</span></p>
                <p class="c3"><span>Conforme a lo previsto en el </span><span
                        class="c2">art&iacute;culo 5</span><span>&nbsp;</span><span class="c2">de la LOPD</span><span
                        class="c1">, se informa al USUARIO que, mediante los formularios de registro de la web, se recaban datos, que se almacenan en un fichero, con la exclusiva finalidad de </span>
                </p>
                <ul class="c8 lst-kix_wgwcbxvn51ql-0 start">
                    <li class="c3 c9">
                        <span>env&iacute;o de comunicaciones electr&oacute;nicas, tales como: boletines (</span><span
                            class="c5">newsletters</span><span>), nuevas entradas (</span><span
                            class="c5">posts</span><span
                            class="c1">),</span>
                    </li>
                    <li class="c3 c9"><span>otras comunicaciones que </span><span class="c2">learningml.org </span><span
                            class="c1">entiende interesantes para sus USUARIOS. </span>
                    </li>
                    <li class="c3 c9"><span class="c1">realizaci&oacute;n de investigaciones de car&aacute;cter pedag&oacute;gico-cient&iacute;fico completamente anonimizadas.</span>
                    </li>
                </ul>
                <p class="c3"><span class="c1">Los campos marcados como de cumplimentaci&oacute;n obligatoria, son imprescindibles para realizar la finalidad expresada.</span>
                </p>
                <p class="c3"><span class="c1">&Uacute;nicamente el titular tendr&aacute; acceso a sus datos, y bajo ning&uacute;n concepto, estos datos ser&aacute;n cedidos, compartidos, transferidos, ni vendidos a ning&uacute;n tercero.</span>
                </p>
                <p class="c3"><span>La aceptaci&oacute;n de la pol&iacute;tica de privacidad, </span><span class="c5">&nbsp;mediante el procedimiento establecido de doble opt-in, </span><span>&nbsp;se entender&aacute; a todos los efectos como la prestaci&oacute;n de CONSENTIMIENTO EXPRESO E INEQU&Iacute;VOCO &ndash; del </span><span
                        class="c2">art&iacute;culo 6</span><span>&nbsp;</span><span class="c2">de la LOPD</span><span>&ndash; del USUARIO al tratamiento de los datos de car&aacute;cter personal en los t&eacute;rminos que se exponen en el presente documento, as&iacute; como a la transferencia internacional de datos que se produce, exclusivamente debido a la ubicaci&oacute;n f&iacute;sica de las instalaciones de los proveedores de servicios y encargados del tratamiento de datos que se dir&aacute;n en el punto </span><span
                        class="c0">4.9.</span></p>
                <p class="c3"><span class="c0">4.2. Cumplimiento de la normativa de aplicaci&oacute;n.-</span></p>
                <p class="c3"><span class="c2">Learningml.org </span><span class="c1">cumple con las directrices de la Ley Org&aacute;nica 15/1999 de 13 de diciembre de Protecci&oacute;n de Datos de Car&aacute;cter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de dicha Ley Org&aacute;nica y dem&aacute;s normativa vigente y de aplicaci&oacute;n en cada momento, velando por garantizar un correcto uso y tratamiento de los datos personales del usuario.</span>
                </p>
                <p class="c3"><span>Asimismo, </span><span class="c2">learningml.org </span><span>informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y el Comercio Electr&oacute;nico y le solicitar&aacute; su consentimiento al USUARIO para el tratamiento de su correo electr&oacute;nico con fines comerciales en cada momento.</span>
                <p class="c3"><span>En cumplimiento de lo establecido en la LOPD, le informamos que los datos suministrados, as&iacute; como aquellos datos derivados de su navegaci&oacute;n, podr&aacute;n ser almacenados en los ficheros de </span><span
                        class="c2">learningml.org</span><span class="c1">&nbsp;y tratados para la finalidad de atender su solicitud y el mantenimiento de la relaci&oacute;n que se establezca en los formularios que suscriba.</span>
                </p>
                <p class="c3"><span>Adicionalmente, el USUARIO consiente el tratamiento de sus datos con la finalidad de informarles, por correo electr&oacute;nico, de productos y servicios de </span><span
                        class="c0">learningml.org.</span></p>
                <p class="c3"><span class="c1">En caso de no autorizar el tratamiento de sus datos con la finalidad se&ntilde;alada anteriormente, el USUARIO podr&aacute; ejercer su derecho de oposici&oacute;n al tratamiento de sus datos en los t&eacute;rminos y condiciones previstos m&aacute;s adelante en el apartado &laquo;Ejercicio de Derechos ARCO&raquo;.</span>
                </p>
                <p class="c3"><span class="c0">4.3. Medidas de Seguridad.-</span></p>
                <p class="c3"><span class="c2">Learningml.org </span><span class="c1">le informa que tiene implantadas las medidas de seguridad de &iacute;ndole t&eacute;cnica y organizativas necesarias para garantizar la seguridad de sus datos de car&aacute;cter personal y evitar su alteraci&oacute;n, p&eacute;rdida y tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnolog&iacute;a, la naturaleza de los datos almacenados y los riesgos a que est&aacute;n expuestos, ya provengan de la acci&oacute;n humana o del medio f&iacute;sico o natural. Todo ello de conformidad con lo previsto en el Art. 9 de la LOPD y el T&iacute;tulo VIII del RLOPD.</span>
                </p>
                <p class="c3"><span>Asimismo, </span><span class="c2">learningml.org</span><span class="c1">&nbsp;ha establecido medidas adicionales en orden a reforzar la confidencialidad e integridad de la informaci&oacute;n en su organizaci&oacute;n. Manteniendo continuamente la supervisi&oacute;n, control y evaluaci&oacute;n de los procesos para asegurar el respeto a la privacidad de los datos.</span>
                </p>
                <p class="c3"><span class="c0">4.4. Ejercicio de Derechos ARCO: Acceso, Rectificaci&oacute;n, Cancelaci&oacute;n y Oposici&oacute;n.-</span>
                </p>
                <p class="c3">
                    <span>Aquellas personas f&iacute;sicas que hayan facilitado sus datos a trav&eacute;s de la </span><span
                        class="c2">web learningml.org</span><span class="c1">, podr&aacute;n dirigirse al titular de la misma con el fin de poder ejercitar gratuitamente sus derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n respecto de los datos incorporados en sus ficheros.</span>
                </p>
                <p class="c3"><span>El interesado podr&aacute; ejercitar sus derechos mediante comunicaci&oacute;n por escrito dirigida a </span><span
                        class="c2">learningml.org </span><span>con la referencia </span><span class="c13">&laquo;Protecci&oacute;n de datos/ learningml.org&raquo;</span><span
                        class="c1">, especificando sus datos, acreditando su identidad y los motivos de su solicitud en la siguiente direcci&oacute;n de correo electrónico:</span>
                </p>
                <p class="c16"><span class="c13 c2">info <i>at</i> learningml <i>dot</i> org</span><span>&nbsp;</span>
                </p>

                <p class="c3"><span class="c0">4.5. Links</span></p>
                <p class="c3"><span>Como un servicio a nuestros visitantes, nuestro sitio web puede incluir hiperv&iacute;nculos a otros sitios que no son operados o controlados por </span><span
                        class="c2">learningml.org.</span><span>&nbsp;Por ello </span><span
                        class="c2">learningml.org</span><span>&nbsp;no garantiza, ni se hace responsable de la licitud, fiabilidad, utilidad, veracidad y actualidad de los contenidos de tales sitios web o de sus pr&aacute;cticas de privacidad. Por favor, antes de proporcionar su informaci&oacute;n personal a estos sitios web ajenos a </span><span
                        class="c2">learningml.org</span><span class="c1">, tenga en cuenta que sus pr&aacute;cticas de privacidad pueden diferir de las nuestras.</span>
                </p>
                <p class="c3"><span class="c0">4.6. Pol&iacute;tica de &laquo;Cookies&raquo;</span></p>
                <p class="c3"><span>Una cookie es un archivo de informaci&oacute;n que el servidor de este sitio web env&iacute;a al dispositivo (ordenador, </span><span
                        class="c5">smartphone, tablet,</span><span class="c1">&nbsp;etc.) de quien accede a la p&aacute;gina para almacenar y recuperar informaci&oacute;n sobre la navegaci&oacute;n que se efect&uacute;a desde dicho equipo.</span>
                </p>
                <p class="c3"><span class="c2">Learningml.org</span><span>&nbsp;utiliza diversos tipos de </span><span
                        class="c5">cookies </span><span
                        class="c1">(t&eacute;cnicas, anal&iacute;ticas y sociales) con la finalidad de mejorar la navegaci&oacute;n del usuario en el sitio web y posibilitar la creaci&oacute;n de cuentas de usuario para usar todas las funcionalidades de la aplicaci&oacute;n, para el an&aacute;lisis y elaboraci&oacute;n de estad&iacute;sticas de la navegaci&oacute;n que el USUARIO realiza en el sitio web, as&iacute; como para compartir los contenidos en redes sociales (Google+, Twitter, Linkedin, Disqus). No hay ning&uacute;n tipo de objeto publicitario o similar.</span>
                </p>
                <p class="c3"><span
                        class="c2">Learningml.org</span><span>&nbsp;utiliza en este sitio web las </span><span
                        class="c5">cookies </span><span
                        class="c1">que se detallan a continuaci&oacute;n:</span></p>
                <p class="c3"><span class="c2">Cookies t&eacute;cnicas: </span><span class="c1">Son aqu&eacute;llas que permiten al USUARIO la navegaci&oacute;n a trav&eacute;s de la p&aacute;gina web y la utilizaci&oacute;n de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tr&aacute;fico y la comunicaci&oacute;n de datos, identificar la sesi&oacute;n, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripci&oacute;n o participaci&oacute;n en un evento, utilizar elementos de seguridad durante la navegaci&oacute;n, almacenar contenidos para la difusi&oacute;n de v&iacute;deos o sonido o compartir contenidos a trav&eacute;s de redes sociales.</span>
                </p>
                <p class="c3"><span class="c2">Cookies de Google Analytics: </span><span class="c1">Son cookies de terceros (Google Inc.) de an&aacute;lisis que permiten el seguimiento y an&aacute;lisis del comportamiento de los USUARIOS de los sitios web a los que est&aacute;n vinculadas. La informaci&oacute;n recogida mediante este tipo de cookies se utiliza en la medici&oacute;n de la actividad de los sitios web, aplicaci&oacute;n o plataforma y para la elaboraci&oacute;n de perfiles de navegaci&oacute;n de los USUARIOS de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en funci&oacute;n del an&aacute;lisis de los datos de uso que hacen los USUARIOS del servicio.</span>
                </p>
                <p class="c3"><span>Google Analytics, almacena las </span><span class="c5">cookies</span><span
                        class="c1">&nbsp;en servidores ubicados en Estados Unidos y se compromete a no compartirla con terceros, excepto en los casos en los que sea necesario para el funcionamiento del sistema o cuando la ley obligue a tal efecto. Seg&uacute;n Google no guarda la direcci&oacute;n IP del USUARIO.</span>
                </p>
                <p class="c3"><span
                        class="c1">&nbsp;M&aacute;s informaci&oacute;n sobre Google Analytics en los siguientes enlaces:</span>
                </p>
                <p class="c3"><span class="c7"><a class="c6"
                                                  href="https://www.google.com/url?q=http://www.google.com/analytics/&amp;sa=D&amp;ust=1582120948950000">www.google.com/analytics/</a></span><span>&nbsp;y </span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=http://www.google.com/intl/es/policies/privacy/&amp;sa=D&amp;ust=1582120948950000">http://www.google.com/intl/es/policies/privacy/</a></span>
                </p>
                <p class="c3">
                    <span>Si deseas informaci&oacute;n sobre el uso que Google da a las cookies adjuntamos este otro enlace:</span><span><a
                        class="c6"
                        href="https://www.google.com/url?q=https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl%3Des%26csw%3D1)&amp;sa=D&amp;ust=1582120948950000">&nbsp;</a></span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl%3Des%26csw%3D1)&amp;sa=D&amp;ust=1582120948951000">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es&amp;csw=1)</a></span><span
                        class="c1">.</span></p>
                <p class="c3"><span
                        class="c2">Cookies sociales: Google+, Facebook, YouTube, Twitter, &nbsp;etc.: </span><span
                        class="c1">cookies &nbsp;de terceros, es decir, redes sociales externas y de terceros, cuya temporalidad y finalidad &nbsp;depende de cada red social.</span>
                </p>
                <p class="c3"><span>El usuario podr&aacute; -en cualquier momento- elegir qu&eacute; </span><span
                        class="c5">cookies </span><span
                        class="c1">quiere que funcionen en este sitio web mediante:</span>
                </p>
                <p class="c3"><span>&ndash; La configuraci&oacute;n del </span><span class="c2">navegador</span><span
                        class="c1">; por ejemplo:</span>
                </p>
                <p class="c3"><span class="c2">Chrome</span><span>, desde: </span><span class="c7"><a class="c6"
                                                                                                      href="https://www.google.com/url?q=http://support.google.com/chrome/bin/answer.py?hl%3Des%26answer%3D95647&amp;sa=D&amp;ust=1582120948951000">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a></span>
                </p>
                <p class="c3"><span class="c2">Explorer</span><span>, desde:</span><span class="c7"><a class="c6"
                                                                                                       href="https://www.google.com/url?q=http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9&amp;sa=D&amp;ust=1582120948952000">&nbsp;http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></span>
                </p>
                <p class="c3"><span class="c2">Firefox</span><span>, desde: </span><span class="c7"><a class="c6"
                                                                                                       href="https://www.google.com/url?q=http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we&amp;sa=D&amp;ust=1582120948952000">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></span>
                </p>
                <p class="c3"><span class="c2">Safari</span><span>, desde:</span><span><a class="c6"
                                                                                          href="https://www.google.com/url?q=http://support.apple.com/kb/ph5042&amp;sa=D&amp;ust=1582120948952000">&nbsp;</a></span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=http://support.apple.com/kb/ph5042&amp;sa=D&amp;ust=1582120948953000">http://support.apple.com/kb/ph5042</a></span>
                </p>
                <p class="c3"><span class="c2">Opera</span><span>, desde:</span><span><a class="c6"
                                                                                         href="https://www.google.com/url?q=http://help.opera.com/Windows/11.50/es-ES/cookies.html&amp;sa=D&amp;ust=1582120948953000">&nbsp;</a></span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=http://help.opera.com/Windows/11.50/es-ES/cookies.html&amp;sa=D&amp;ust=1582120948953000">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a></span>
                </p>
                <p class="c3"><span>&ndash; Existen herramientas de terceros, disponibles on line, que permiten a los usuarios detectar las </span><span
                        class="c5">cookies </span><span
                        class="c1">en cada sitio web que visita y gestionar su desactivaci&oacute;n.</span></p>
                <p class="c3"><span>Ni esta web, ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las pol&iacute;ticas de privacidad que puedan tener los terceros mencionados en esta pol&iacute;tica de </span><span
                        class="c5">cookies</span><span class="c1">.</span></p>
                <p class="c3"><span>Los navegadores web son las herramientas encargadas de almacenar las </span><span
                        class="c5">cookies</span><span>&nbsp;y desde esos navegadores debes efectuar tu derecho a eliminaci&oacute;n o desactivaci&oacute;n de las mismas. Ni esta web ni sus representantes legales pueden garantizar la correcta o incorrecta manipulaci&oacute;n de las </span><span
                        class="c5">cookies</span><span class="c1">&nbsp;por parte de los mencionados navegadores.</span>
                </p>
                <p class="c3"><span>En algunos casos es necesario instalar </span><span class="c5">cookies</span><span
                        class="c1">&nbsp;para que el navegador no olvide tu decisi&oacute;n de no aceptaci&oacute;n de las mismas.</span>
                </p>
                <p class="c3"><span class="c0">&nbsp;La aceptaci&oacute;n de la presente pol&iacute;tica de privacidad implica que el usuario ha sido informado de una forma clara y completa sobre el uso de dispositivos de almacenamiento y recuperaci&oacute;n de datos (cookies) as&iacute; como que learningml.org dispone del consentimiento del usuario para el uso de las mismas tal y como establece el art&iacute;culo 22 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y Comercio Electr&oacute;nico (LSSI-CE).</span>
                </p>
                <p class="c3"><span>Para cualquier duda o consulta acerca de esta pol&iacute;tica de </span><span
                        class="c5">cookies</span><span class="c1">&nbsp;no dudes en comunicarte con nosotros a trav&eacute;s de la direcci&oacute;n de correo electr&oacute;nico info@learningml.org</span>
                </p>
                <p class="c3"><span class="c0">4.7. Menores de edad</span></p>
                <p class="c3"><span class="c2">Learningml.org</span><span class="c1">&nbsp;es una web cuya finalidad es la promoci&oacute;n y difusi&oacute;n del Pensamiento Computacional y la Inteligencia Artificial principalmente en niveles educativos no unversitarios. Adem&aacute;s es una aplicaci&oacute;n web mediante la cual los usuarios pueden aprender mediante actividades pr&aacute;cticas este tipo de contenidos. Por tanto, profesores y estudiantes, muchos de ellos menores de edad, son el p&uacute;blico m&aacute;s t&iacute;pico para el que est&aacute; dirigida esta web.</span>
                </p>
                <p class="c3"><span>Respetando lo establecido en los art&iacute;culos 8 del RGPD y 13 del RDLOPD, solo los mayores de 14 a&ntilde;os podr&aacute;n otorgar su consentimiento para el tratamiento de sus datos personales de forma l&iacute;cita por </span><span
                        class="c2">learningml.org</span><span>. Si se trata de un menor de 14 a&ntilde;os, ser&aacute; necesario el consentimiento de los padres o tutores para el tratamiento, y este solo se considerar&aacute; l&iacute;cito en la medida en la que los mismos lo hayan autorizado.</span>
                </p>
                <p class="c3"><span class="c0">4.8. Modificaci&oacute;n de la Pol&iacute;tica de Privacidad</span></p>
                <p class="c3"><span class="c2">Learningml.org</span><span class="c1">&nbsp;se reserva el derecho a modificar su Pol&iacute;tica de Privacidad, de acuerdo a su propio criterio, motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos.</span>
                </p>
                <p class="c3"><span class="c1">Cualquier modificaci&oacute;n de la Pol&iacute;tica de Privacidad ser&aacute; publicada al menos diez d&iacute;as antes de su efectiva aplicaci&oacute;n. El uso de la Web despu&eacute;s de dichos cambios, implicar&aacute; la aceptaci&oacute;n de los mismos.</span>
                </p>
                <p class="c3"><span class="c0">4.9. Responsable del fichero, y encargados del tratamiento.-</span></p>
                <p class="c3"><span class="c1">El responsable del fichero de datos es Juan David Rodr&iacute;guez Garc&iacute;a.</span>
                </p>
                <p class="c3"><span>Como encargados de tratamiento ajenos &nbsp;al citado responsable</span><span
                        class="c0">:</span>
                </p>
                <p class="c3"><span class="c2">Learningml</span><span>&nbsp;ha contratado los servicios de </span><span
                        class="c5">hosting</span><span>&nbsp;a </span><span
                        class="c5">DigitalOcean, LLC</span><span>. Se puede consultar la pol&iacute;tica de privacidad y dem&aacute;s aspectos legales de dicha compa&ntilde;&iacute;a en el siguiente enlace: </span><span
                        class="c7"><a class="c6"
                                      href="https://www.google.com/url?q=https://www.digitalocean.com/legal/&amp;sa=D&amp;ust=1582120948956000">https://www.digitalocean.com/legal/</a></span>
                </p>
                <p class="c3">
                    <span>Los servicios de suscripci&oacute;n por correo electr&oacute;nico y env&iacute;o de </span><span
                        class="c5">newsletters</span><span>&nbsp;a la compa&ntilde;&iacute;a norteamericana </span><span
                        class="c5">Twilio Inc</span><span
                        class="c1">. Se puede consultar la pol&iacute;tica de privacidad y dem&aacute;s aspectos legales de dicha compa&ntilde;&iacute;a en el siguiente enlace: https://www.twilio.com/legal/tos</span>
                </p>
                <p class="c3"><span class="c2">5. PROPIEDAD INTELECTUAL E INDUSTRIAL: learningml.org </span><span>por s&iacute; o como cesionario, es titular de todos los derechos de propiedad intelectual e industrial de su p&aacute;gina web, as&iacute; como de los elementos contenidos en la misma (a t&iacute;tulo enunciativo, im&aacute;genes, sonido, audio, v&iacute;deo, software o textos; marcas o logotipos, combinaciones de colores, estructura y dise&ntilde;o, selecci&oacute;n de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de </span><span
                        class="c2">learningml.org </span><span
                        class="c1">o bien de sus licenciantes. Todos los derechos reservados.</span></p>
                <p class="c3"><span>Cualquier uso no autorizado previamente por </span><span
                        class="c2">learningml.org, </span><span
                        class="c1">ser&aacute; considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.</span>
                </p>
                <p class="c3"><span>Quedan expresamente prohibidas la reproducci&oacute;n, la distribuci&oacute;n y la comunicaci&oacute;n p&uacute;blica, incluida su modalidad de puesta a disposici&oacute;n, de la totalidad o parte de los contenidos de esta p&aacute;gina web, con fines comerciales, en cualquier soporte y por cualquier medio t&eacute;cnico, sin la autorizaci&oacute;n de </span><span
                        class="c2">learningml.org</span><span class="c1">.</span></p>
                <p class="c3"><span>El USUARIO se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de </span><span
                        class="c2">learningml.org</span><span>. Podr&aacute; visualizar los elementos de la web e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte f&iacute;sico siempre y cuando sea, &uacute;nica y exclusivamente, para su uso personal y privado. El USUARIO deber&aacute; abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protecci&oacute;n o sistema de seguridad que estuviera instalado en las p&aacute;ginas de </span><span
                        class="c2">learningml.org</span><span class="c1">.</span></p>
                <p class="c3"><span
                        class="c2">6. EXCLUSI&Oacute;N DE GARANT&Iacute;AS Y RESPONSABILIDAD: learningml.org </span><span
                        class="c1">no se hace responsable, en ning&uacute;n caso, de los da&ntilde;os y perjuicios de cualquier naturaleza que pudieran ocasionar, a t&iacute;tulo enunciativo: por errores u omisiones en los contenidos, por falta de disponibilidad del sitio web &ndash; el cual realizar&aacute; paradas peri&oacute;dicas por mantenimientos t&eacute;cnicos &ndash; as&iacute; como por la transmisi&oacute;n de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnol&oacute;gicas necesarias para evitarlo.</span>
                </p>
                <p class="c3"><span class="c2">7. MODIFICACIONES: learningml.org </span><span class="c1">se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su web, pudiendo cambiar, suprimir o a&ntilde;adir tanto los contenidos y servicios que se presten a trav&eacute;s de la misma como la forma en la que &eacute;stos aparezcan presentados o localizados en su web.</span>
                </p>
                <p class="c3"><span class="c0">8. POL&Iacute;TICA DE ENLACES:</span></p>
                <p class="c3"><span class="c2">8.1.</span><span>&nbsp;Las personas o entidades que pretendan realizar o realicen un hiperenlace desde una p&aacute;gina web de otro portal de Internet a la web de </span><span
                        class="c2">learningml.org</span><span
                        class="c1">&nbsp;deber&aacute; someterse &nbsp;las siguientes condiciones:</span></p>
                <p class="c3"><span>&ndash; No se permite la reproducci&oacute;n total o parcial de ninguno de los servicios ni contenidos del sitio web sin la previa autorizaci&oacute;n expresa de </span><span
                        class="c2">learningml.org</span><span class="c1">.</span></p>
                <p class="c3">
                    <span>&ndash; No se establecer&aacute;n deep-links ni enlaces IMG o de imagen, ni frames con la web de </span><span
                        class="c2">learningml.org</span><span
                        class="c1">&nbsp;sin su previa autorizaci&oacute;n expresa.</span></p>
                <p class="c3"><span>&ndash; No se establecer&aacute; ninguna manifestaci&oacute;n falsa, inexacta o incorrecta sobre la web de </span><span
                        class="c2">learningml.org</span><span>, ni sobre los servicios o contenidos de la misma. Salvo aquellos signos que formen parte del hiperv&iacute;nculo, la p&aacute;gina web en la que &nbsp;se establezca no contendr&aacute; ninguna marca, nombre comercial, r&oacute;tulo de establecimiento, denominaci&oacute;n, logotipo, eslogan u otros signos distintivos pertenecientes a </span><span
                        class="c2">learningml.org</span><span
                        class="c1">, salvo autorizaci&oacute;n expresa de &eacute;ste.</span></p>
                <p class="c3"><span>&ndash; El establecimiento del hiperv&iacute;nculo no implicar&aacute; la existencia de relaciones entre </span><span
                        class="c2">learningml.org</span><span>&nbsp;y el titular de la p&aacute;gina web o del portal desde el cual se realice, ni el conocimiento y aceptaci&oacute;n de </span><span
                        class="c2">learningml.org</span><span class="c1">&nbsp;de los servicios y contenidos ofrecidos en dicha p&aacute;gina web o portal.</span>
                </p>
                <p class="c3"><span>&ndash; </span><span class="c2">learningml.org</span><span class="c1">&nbsp;no ser&aacute; responsable de los contenidos o servicios puestos a disposici&oacute;n del p&uacute;blico en la p&aacute;gina web o portal desde el cual se realice el hiperv&iacute;nculo, ni de las informaciones y manifestaciones incluidas en los mismos.</span>
                </p>
                <p class="c3"><span class="c2">8.2.</span><span>&nbsp;El sitio web de </span><span
                        class="c2">learningml.org</span><span
                        class="c1">&nbsp;puede poner a disposici&oacute;n del usuario conexiones y enlaces a otros sitios web gestionados y controlados por terceros. Dichos enlaces tienen como exclusiva funci&oacute;n, la de facilitar a los usuarios la b&uacute;squeda de informaci&oacute;n, contenidos y servicios en Internet, sin que en ning&uacute;n caso pueda considerarse una sugerencia, recomendaci&oacute;n o invitaci&oacute;n para la visita de los mismos.</span>
                </p>
                <p class="c3"><span class="c2">Learningml.org</span><span class="c1">&nbsp;no comercializa, ni dirige, ni controla previamente, ni hace propios los contenidos, servicios, informaciones y manifestaciones disponibles en dichos sitios web.</span>
                </p>
                <p class="c3"><span class="c2">Learningml.org</span><span>&nbsp;no asume ning&uacute;n tipo de responsabilidad, ni siquiera de forma indirecta o subsidiaria, por los da&ntilde;os y perjuicios de toda clase que pudieran derivarse del acceso, mantenimiento, uso, calidad, licitud, fiabilidad y utilidad de los contenidos, informaciones, comunicaciones, opiniones, manifestaciones, productos y servicios existentes u ofrecidos en los sitios web no gestionados por </span><span
                        class="c2">learningml.org</span><span>&nbsp;y que resulten accesibles a trav&eacute;s de </span><span
                        class="c2">learningml.org</span><span class="c1">.</span></p>
                <p class="c3"><span class="c2">9. DERECHO DE EXCLUSI&Oacute;N: Learningml.org </span><span class="c1">se reserva el derecho a denegar o retirar el acceso al portal y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso.</span>
                </p>
                <p class="c3"><span class="c2">10. GENERALIDADES: &nbsp;Learningml.org </span><span class="c1">perseguir&aacute; el incumplimiento de las presentes condiciones as&iacute; como cualquier utilizaci&oacute;n indebida de su web ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.</span>
                </p>
                <p class="c3"><span class="c2">11. MODIFICACI&Oacute;N DE LAS PRESENTES CONDICIONES Y DURACI&Oacute;N: &nbsp;Learningml.org </span><span
                        class="c1">podr&aacute; modificar en cualquier momento las condiciones aqu&iacute; determinadas, siendo debidamente publicadas como aqu&iacute; aparecen. La vigencia de las citadas condiciones ir&aacute; en funci&oacute;n de su exposici&oacute;n y estar&aacute;n vigentes hasta que sean modificadas por otras debidamente publicadas.</span>
                </p>
                <p class="c3"><span class="c2">12. LEGISLACI&Oacute;N APLICABLE Y JURISDICCI&Oacute;N: </span><span>La relaci&oacute;n entre </span><span
                        class="c2">&nbsp;learningml.org </span><span class="c1">y el USUARIO se regir&aacute; por la normativa espa&ntilde;ola vigente y cualquier controversia se someter&aacute; a los Juzgados y tribunales de la ciudad de Madrid, salvo que la Ley aplicable disponga otra cosa.</span>
                </p>
                <p class="c14"><span class="c1"></span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}