<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154552407-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154552407-2');

    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>Aprende Machine LearningML de la manera más fácil</title>
    <meta name="description" content= "Incorpora Inteligencia Artificial a tus proyectos Scratch y desarrolla tu pensamiento computacional con construyendo modelos de aprendizaje automático" />
    <meta name="robots" content= "index, follow">
    <meta name="author" content="Juan David Rodríguez" />

    <!-- css  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'web/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'cookielaw/css/cookielaw.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
{% load cookielaw_tags %}
{% cookielaw_banner %}
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">learningml</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/#quees">¿qué es?</a></li>
            <li><a href="/#porque">¿por qué?</a></li>
            <li><a href="{{url_lml_signup}}">únete</a></li>
            <li><a href="/aprende">aprende</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/#quees">¿qué es learningml?</a></li>
            <li><a href="/#porque">¿Por qué LearningML?</a></li>
            <li><a href="{{url_lml_signup}}">Únete a LearningML</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block content %}{% endblock %}

<!--<div class="parallax-container valign-wrapper">-->
<!--    <div class="section no-pad-bot">-->
<!--        <div class="container">-->
<!--            <div class="row center">-->
<!--                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="parallax"><img src="{% static 'web/background3.jpg' %}" alt="Unsplashed background img 3"></div>-->
<!--</div>-->

<footer class="page-footer teal">
    <div class="container">
        <div class="row">

            <div class="col l3 s6">
                <h5 class="white-text">Acerca de</h5>
                <ul>
                    <li><a class="white-text" href="/sobre#learningml">Acerca de LearningML</a></li>
                    <li><a class="white-text" href="/sobre#scratch">Acerca de Scratch</a></li>

                </ul>
            </div>
            <div class="col l3 s6">
                <h5 class="white-text">Nota legal</h5>
                <ul>
                    <li><a class="white-text" href="/aviso-legal">Aviso legal</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>
                <i>LearningML</i> Copyright © 2020 <a target="_blank" href="http://juandarodriguez.es">Juan David Rodríguez García</a> & <a href="https://kgblll.github.io/" target="_blank">KGBL3</a>
            </p>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

</body>
</html>
