{% extends "base_web.html" %}
{% load staticfiles%}
{% block content %}

<div class="container">
    <div id="learningml" class="section scrollspy">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text">Sobre LearningML</i></h3>
                <p class="left-align light">
                    LearningML es una plataforma educativa para el aprendizaje de contenidos sobre Inteligencia Artificial
                    y el fomento del Pensamiento Computacional. Está siendo desarrollada por <a target="_blank" href="http://juandarodriguez.es">Juan David Rodríguez</a> en
                    colaboración con el grupo de investigación <a target="_blank" href="https://kgblll.github.io/">KGBL3</a>

            </div>
        </div>

    </div>
    <div id="scratch" class="section scrollspy">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text">Sobre Scratch</i></h3>
                <p class="left-align light">
                    <a target="_blank", href="https://scratch.mit.edu/about">Scratch</a> es una plataforma de educativa para aprender a programar.
                     Es un proyecto del Grupo Lifelong Kindergarten del MIT Media Lab.
                </p>

            </div>
        </div>

    </div>
</div>
{% endblock %}